<nz-card nz-card class="card"
  [nzExtra]="actionDelete"
  [nzTitle]="titleAvatar">
  
  <ng-template #actionDelete>
    <a nz-icon nzType="delete"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure delete this user"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="confirmDelete()"
      (nzOnCancel)="cancelDelete()">
    </a>
  </ng-template>

  <ng-template #titleAvatar>
    <span style="margin-right: 2%; font-size: 20px;"nz-icon nzType="user"></span>
    <span style="font-size: 16px;">{{user.login}}</span>
  </ng-template>

</nz-card>