.header-container{
    padding: 0 1%; 
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}

.header-container-nav-items{
    font-size: 32px; 
    color: white;
    vertical-align: middle;
}

nz-badge {
    
}